@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Custom Utilities if needed */
.text-automotive-blue {
  color: #1E40AF;
}

.bg-automotive-blue {
  background-color: #1E40AF;
}